body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

canvas {
    background-color: black;
    display: block;
}

.canvas-div {
    position: relative;
}

.fullscreen {
    z-index: 99;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.sounds {
    display: flex;
    z-index: 99;
    position: absolute;
    top: 8px;
    right: 15px;
}

.key-description {
    width: 720px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.row-pairs {
    margin-bottom: 20px;
    display: flex;
}

.single-key {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.single-key img {
    height: 25px;
    width: 25px;
}

.key-description span {
    margin-right: 15px;
}

.legal-notice {
    margin-top: 32px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.legal-notice a {
    color: #80808085;
    text-decoration: none;
}

.legal-notice a:hover {
    color: black;
    text-decoration: underline;
}

.mobile-icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    display: none;
}

.mobile-icons img {
    height: 50px;
    margin: 0 12px;
    opacity: 0.7;
    filter: contrast(0.7);
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw;
    }
    #headline {
        display: none;
    }
    #description {
        display: none;
    }
    #fullscreen {
        display: none;
    }
    .mobile-icons {
        display: flex;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    #description {
        display: none;
    }
    #headline {
        display: none;
    }
    #fullscreen {
        display: none;
    }
    .mobile-icons {
        display: flex;
    }
}